
/* seccion de sidebar */
.sidebar{
    position: fixed;
    height: 100%;
    width: 200px;
    background: rgb(205, 218, 204);
    -webkit-box-shadow: 5px 8px 15px 0px rgba(0,0,0,0.78); 
    box-shadow: 5px 8px 15px 0px rgba(0,0,0,0.78);
    text-decoration: none;
}

.sidebar.close{
    width: 60px;
    transition: all 0.5s ease;
}
.sidebar{
    transition: all 0.5s ease;
}
.sidebar.close p, .sidebar.close .logo p{
display: none;
}
.sidebar ul li{
    padding: 15px 10px;
    border-bottom: 1px solid darkgray;
    margin: auto;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.sidebar li img{
    display: flex;
    width: 20px;
    height: 20px;
   justify-content: center;
}
.sidebar p {
    margin: auto;
    text-align: center;
    
    color: black;
    }
    a{
        text-decoration: none;
    }
.sidebar .logo{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    }  
.sidebar.close .logoins{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}
.sidebar .logoins{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height:  50%;
    border-radius: 50%;
}
.sidebar .logo p{
    display: flex;
    margin: auto;
    text-align: center;
    text-decoration: none;
}

/* seccion principal */
.sidebar.close ~ .contenedor {
    width: calc(100% - 60px);
    left: 60px;
}
.contenedor {
    position: relative;
    width: calc(100% - 200px);
    left: 200px;
    transition: all 0.5s ease;
}

.superiobar{
    display: flex;
    width: 100%;
    height: 50px;
    background:rgb(205, 218, 204);
    -webkit-box-shadow: 5px 8px 15px 0px rgba(0,0,0,0.78); 
    box-shadow: 5px 8px 15px 0px rgba(0,0,0,0.78);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
 .avartar_con {
    display: flex;
    align-items: center;
}
.superiobar span{
    width: 40px;
    font-size: 2rem;
    margin-left: 10px;
   
}
.superiobar .avatar{
    width: 40px;
    margin-right: 10px;
}


