* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
   background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMVJ44U2MSgobxlbjAAIgGp1tKP7OCNFBXrA&usqp=CAU")
   no-repeat center top; 
   background-size: cover;
   font-size: sans-serif;
}

.contenedor_login{
    width: 350px;
    height: 400px;
    background: #4e4d4d;
    margin: auto;
    margin-top: 180px;
    position: relative;
    padding: 50px 30px;
    color: white;
}
.avatar_login{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.contenedor_login h1{
    padding: 0 0 20px;
    margin: 0;
    text-align: center;

}
.contenedor_login label{
    padding: 0;
    margin: 0;
    font-weight: bold;
    display: block;
    text-align: center;
}
.input_user{
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
    
}
.input_button{
    width: 100%;
    margin-bottom: 20px;
    justify-items: center;
    display: block;
    border: none;
    background: #90FDFF;
    height: 30px;
}
.contenedor_login a{
    color: white;
}
